.robert {
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 1.5rem;
    background-color: burlywood;
    width: 19.3rem;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    font-weight: 500;
}

.robert .winner {
    align-items: center;
    padding-top: 5px;
}

.winnerMode {
    background-color: #ADADAD;
}

.robert .winner .replay {
    transition: font-size 0.2s;
    cursor: pointer;
    color: chocolate;
    padding-top: 5px;
}

.robert .winner .replay:hover {
    font-size: 1.7rem;
}