.Container {
  width: 312px;
  display: flex;
  margin: auto;
  box-sizing: border-box;
  flex-flow: row wrap;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
